/* Common Shared Styles */
body {
    font-family: 'Open Sans', sans-serif;
}



/* Primary Color */
.text-primary {
    color: rgb(255, 67, 161);
}

.btn-primary {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background: rgb(255, 67, 161);
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #181818;
    text-align: justify;
    font-size: 18px;

}

/* Nav related Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #181818;
}

/* Header Related Styles */

.header {
    background-color: rgba(150, 202, 255, 0.397);
    background-image: url('../images/header_bg.png');
    background-size: 650px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile {
    width: 300px;

}

.banner-greeting {
    font-size: 38px;
    margin-bottom: 0;
}

.banner-name {
    font-size: 65px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    width: 585px;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
}

/* Main Section Styles */

main {

    margin: 0 auto;
    width: 1140px;
    height: 450px;
}

main section {
    margin-top: 130px;
}

/* About Section Styles */

.about {
    padding: 100px;
    border-radius: 10px;
    background: rgba(163, 209, 255, 0.472);
    margin: 100px 0px;


}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-description {
    font-weight: bold;
}

.info-title {
    font-weight: lighter;
}

/* Skills Related Styles */

#what-t-do {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill-description {
    text-align: justify;
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

}

.i20 {
    width: 140px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* Resume Section Style */

.resume-coloum-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;

}

.resume-container hr {
    margin: 30px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-isntitute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-item-description {

    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* Footer Section */

.footer {
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}

.footer-coloum {
    width: 50%;
}

.social-links a{
    
    margin-right: 25px;
}

.contact input[type="text"], .contact input[type="email"]
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background:  #FFF;
    border: 0;
    width: 100%;
}