/* Common Shared Styles */
body {
    font-family: 'Open Sans', sans-serif;
}



/* Primary Color */
.text-primary {
    color: rgb(255, 67, 161);
}

.btn-primary {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background: rgb(255, 67, 161);
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #181818;
    text-align: center;
    font-size: 18px;
}

/* Nav related Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #181818;
}

/* Header Related Styles */

.header {
    background-color: rgba(150, 202, 255, 0.397);
    background-image: url('../images/header_bg.png');
    background-size: 650px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile {
    width: 300px;

}

.banner-greeting {
    font-size: 38px;
    margin-bottom: 0;
}

.banner-name {
    font-size: 65px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    width: 585px;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
}

/* Main Section Styles */


/* About Section Styles */

.about {
    padding: 130px;
    border-radius: 10px;
    background: rgba(163, 209, 255, 0.472);
    margin: 130px 120px;
}